<h2 mat-dialog-title>New Note</h2>

<form [formGroup]="rootForm"
      (ngSubmit)="submit()"
>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput
             placeholder="Title"
             [formControl]="formDefinition.title"
      >
    </mat-form-field>

    <app-editor content=""
                [isEditor]="true"
                placeholder="What's in your mind?"
                [formControl]="formDefinition.content"
    >

    </app-editor>

    <mat-form-field>
      <input matInput
             placeholder="Tags"
      >
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button
            type="button"
            mat-dialog-close
    >
      Cancel
    </button>
    <button mat-raised-button
            type="submit"
            color="primary"
    >
      Create
    </button>
  </mat-dialog-actions>
</form>
