<app-general-pill
  icon="note"
  [name]="'common.all_notes' | translate"
  [counter]="0"
  [href]="replaceNoteTypeInPathWith('all')"
  [isHrefActive]="(noteTypeRouteParam.value$ | async) === 'all'"
></app-general-pill>

<app-general-pill
  icon="star"
  [name]="'common.starred' | translate"
  [counter]="0"
  [href]="replaceNoteTypeInPathWith('starred')"
  [isHrefActive]="(noteTypeRouteParam.value$ | async) === 'starred'"
></app-general-pill>

<app-general-pill
  icon="delete"
  [name]="'common.trash' | translate"
  [counter]="0"
  [href]="replaceNoteTypeInPathWith('trash')"
  [isHrefActive]="(noteTypeRouteParam.value$ | async) === 'trash'"
></app-general-pill>


<section class="tags">

  <h5 class="header">{{'common.tags' | translate}}</h5>

  <ng-container *ngFor="let tag of tagsRefresherService.data$ | async">
    <app-general-pill
      icon="tag"
      [name]="tag.name"
      [counter]="tag.notesCount"
      [boostMatContextMenuTriggerFor]="contextMenu.matMenu"
    ></app-general-pill>

    <app-context-menu
      #contextMenu
      [options]="tagOptions"
      [item]="tag"
    ></app-context-menu>

  </ng-container>

</section>

