<app-general-pill
  icon="note"
  [name]="'common.all_notes' | translate"
  [counter]="0"
  href="../all"
></app-general-pill>

<app-general-pill
  icon="star"
  [name]="'common.starred' | translate"
  [counter]="0"
  href="../starred"
></app-general-pill>

<app-general-pill
  icon="delete"
  [name]="'common.trash' | translate"
  [counter]="0"
  href="../trash"
></app-general-pill>


<section class="tags">

  <h5 class="header">Tags</h5>

  <app-general-pill
    icon="tag"
    name="programming"
  ></app-general-pill>

</section>

