<h2>Save WebPage</h2>

<form
  [formGroup]="rootForm"
  (ngSubmit)="submit()"
>

  <lib2-save-website-form
    [formGroupTemplate]="formDefinition.form"
    [initialValues]="formInitialValues"
    [allTagNames]="allTagNames$ | async"
    (tagAdd)="handleTagAdd($event)"
    (tagDelete)="handleTagDelete($event)"
    (contentSelectionMode)="handleContentSelectionMode()"
  ></lib2-save-website-form>

  <footer>
    <brx-save-website-form-options></brx-save-website-form-options>

    <button
      mat-raised-button
      color="accent"
    >
      SAVE
    </button>
  </footer>

</form>
