:host {
  display: block;
  margin: var(--space-xl);
}

.editor {
  height: 400px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-sm);
  position: sticky;
  bottom: 0;
}
