<ng-container *ngFor="let tag of tagsRefresherService.data$ | async; trackBy: trackByTag">
  <app-general-pill
    icon="tag"
    [name]="tag.name"
    [counter]="tag.notesCount"
    [boostMatContextMenuTriggerFor]="contextMenu.matMenu"
    [expansionStatus]="panelExpansionStatus"
    [hoverOptionsTemplate]="hoverOptions"
  ></app-general-pill>

  <lib-context-menu
    #contextMenu
    [options]="tagOptions"
    [item]="tag"
  ></lib-context-menu>

  <ng-template #hoverOptions>
    foobar
  </ng-template>

</ng-container>
