<a
  class="wrapper"
  [routerLink]="replaceNoteId()"
  routerLinkActive="active-route"
  [boostMatContextMenuTriggerFor]="contextMenu.matMenu"
>
  <div class="content">
    <header>
      <h5 class="title">{{note.title || ('notes.title_placeholder' | libTranslate)}}</h5>
      <mat-icon
        *ngIf="note.isStarred"
        color="accent"
        class="starred-icon"
      >star
      </mat-icon>
    </header>
    <p class="mid-content">
      {{note.updatedAt | date}}
    </p>

    <ul class="tags">
      <ng-container *ngIf="note.tags.length > 0; else noTags">
        <app-note-tag
          class="tag"
          *ngFor="let tag of note.tags"
          [tag]="tag"
        ></app-note-tag>
      </ng-container>

      <ng-template #noTags>
        <span class="no-tags">{{'tags.no_tags' | libTranslate}}</span>
      </ng-template>
    </ul>

  </div>
</a>

<lib-context-menu
  #contextMenu
  [options]="noteOptions"
  [item]="note"
></lib-context-menu>
