:host {
  height: 100%;
  display: flex;

  .panel {
    border-right: 1px solid var(--backgroundColor-secondary);
    padding-right: 4px;
    overflow-y: auto;
  }

  .main {
    // monaco editor doesn't work well with flex:1
    min-width: 300px;
  }

}
