<aside
  class="panel"
  mwlResizable
  [style.width.px]="generalPanelWidth"
  [resizeEdges]="{right: true}"
  [resizeCursorPrecision]="resizeAreaWidth"
  [validateResize]="generalPanelValidator"
  (resizing)="generalPanelResizeEnd($event)"
  (resizeEnd)="generalPanelResizeEnd($event)"
>

  <app-general-list></app-general-list>

</aside>

<aside
  class="panel"
  mwlResizable
  [style.width.px]="notesPanelWidth"
  [resizeEdges]="{right: true}"
  [resizeCursorPrecision]="resizeAreaWidth"
  [validateResize]="notesPanelValidator"
  (resizing)="notesPanelResizeEnd($event)"
  (resizeEnd)="notesPanelResizeEnd($event)"
>

  <app-notes-list></app-notes-list>

</aside>

<main
  class="main"
  [style.width]="'calc(100% - '+generalPanelWidth+'px - '+notesPanelWidth+'px)'"
>

  <router-outlet></router-outlet>
  <!--  <app-note-container></app-note-container>-->
</main>

