:host {
  display: block;
  height: 100%;
  background-color: var(--backgroundColor-secondary);
  border-right: 1px solid var(--backgroundColor-tertiary);
  width: 800px;
  overflow: auto;
}

.section-header {
  margin: var(--space-md) 0;
  display: flex;
  justify-content: flex-end;
}

.note {
  padding: var(--space-l);

  header {
    display: flex;
    justify-content: space-between;

    .more-options {
      &:hover {
        background-color: var(--backgroundColor-quaternary);
      }
    }
  }

  &:hover {
    background-color: var(--backgroundColor-tertiary);
  }

  .title {
    color: var(--textColor-primary);
  }

  .links {
    font-size: var(--fontSize-sm);
  }

  .tags {
    font-size: var(--fontSize-sm);
    margin-top: var(--space-sm);

    .tag {
      margin-right: var(--space-sm);
    }
  }
}
