.container {
  padding: var(--space-md) var(--space-l);
  height: 100%;

  display: flex;
  flex-direction: column;
}

app-tags-bar {
  margin-bottom: var(--space-md);
}

app-note-content {
  flex: 1;
}
