:host {
  height: 100%;
  display: flex;
  position: relative;
  padding-top: 50px;
  overflow: hidden;
}

.content-code {
  min-width: 100px;

  border-right: 1px solid var(--backgroundColor-secondary);
  padding-right: 4px;
}

.content-preview {
}
