<header class="status-panel">
  <mat-spinner *ngIf="loading" diameter="24"></mat-spinner>
  <mat-icon *ngIf="!loading">done</mat-icon>
  <h3 class="status">
    {{loading ? 'Saving...' : 'Saved'}}
  </h3>

  <button
    type="button"
    class="options"
    libIconButton
    [mat-menu-trigger-for]="optionsRef"
  >
    <mat-icon>more_horiz</mat-icon>
  </button>
</header>

<mat-menu #optionsRef yPosition="below">
  <button mat-menu-item (click)="openInApp()">
    <mat-icon>edit</mat-icon>
    Edit in Notes App
  </button>
  <button mat-menu-item (click)="deleteNote()">
    <mat-icon color="warn">delete</mat-icon>
    Delete
  </button>
</mat-menu>

<brx-tags-autocompleter [formControl]="formDefinition.tagNames"></brx-tags-autocompleter>

<section>
  <button
    class="toggle"
    mat-button
    [title]="contentExpanded? 'Less' : 'More'"
    (click)="toggleContentExpand()"
  >
    {{contentExpanded ? 'Less' : 'More'}}

    <mat-icon *ngIf="!contentExpanded">expand_more</mat-icon>
    <mat-icon *ngIf="contentExpanded">expand_less</mat-icon>
  </button>
</section>

<ng-container *ngIf="contentExpanded">
  <lib-control-container>
    <input [formControl]="formDefinition.title" type="text" placeholder="Title" libInput>
  </lib-control-container>

  <lib-control-container>
    <mat-select
      class="workspaces-selector" [formControl]="formDefinition.workspaceIds" placeholder="Add workspaces..." multiple
    >
      <mat-option *ngFor="let workspace of allWorkspaces" [value]="workspace.id">{{workspace.name}}</mat-option>
    </mat-select>
  </lib-control-container>

  <lib-control-container>
    <textarea [formControl]="formDefinition.content" libInput placeholder="Additional content..."></textarea>
  </lib-control-container>

</ng-container>
