<mat-toolbar>
  <span>NotesApp</span>

  <div class="to-right">
    <a
      mat-button
      (click)="authDialogsService.openLoginDialog()"
      *ngIf="!(authService.authUserStatus$ | async)"
    >
      Login
    </a>

    <button
      mat-button
      *ngIf="authService.authUserStatus$ | async as authUser"
      [matMenuTriggerFor]="userOptions"
    >
      {{authUser.email}}
    </button>

    <mat-menu #userOptions>
      <button mat-menu-item>
        <mat-icon fontIcon="accessibility"></mat-icon>

        Logout
      </button>
    </mat-menu>

  </div>
</mat-toolbar>
