:root {
  --textColor-primary: #f8f8f2;
  --textColor-secondary: #939395;

  --backgroundColor-primary: #272822;
  --backgroundColor-secondary: #373831;
  --backgroundColor-tertiary: #4a4b44;
  --backgroundColor-quaternary: #595a53;

  --textColor-accent: #1ec38b;
  --backgroundColor-accent: #1ea26c;

  --textColor-accent2: #E8E884;
  --backgroundColor-accent2: #AFB050;

  --transition-duration: 0.1s;
  --transition-function: linear;
  --transition-basic: all var(--transition-duration) var(--transition-function);
}
