:root {
  --space-xl: 32px;
  --space-l: 24px;
  --space-md: 16px;
  --space-sm: 8px;
  --space-xsm: 4px;

  --size-xl: 64px;
  --size-l: 48px;
  --size-md: 36px;
  --size-sm: 24px;
  --size-xsm: 16px;

  --fontSize-xxl: 30px;
  --fontSize-xl: 24px;
  --fontSize-l: 20px;
  --fontSize-md: 16px;
  --fontSize-sm: 14px;
}
