@import "reset";
@import "colors";
@import "sizes";

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--textColor-primary);
  background-color: var(--backgroundColor-primary);
}

button, a {
  cursor: pointer;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  background-color: inherit;
  color: inherit;
  border: none;
}

h1 {
  font-size: var(--fontSize-xxl);
  font-weight: 700;
  margin-top: var(--space-md);
  margin-bottom: var(--space-l);
}

h2 {
  font-size: var(--fontSize-xl);
  font-weight: 500;
  margin-top: var(--space-sm);
  margin-bottom: var(--space-md);
}

h3 {
  font-size: var(--fontSize-l);
  font-weight: 400;
  margin-top: var(--space-xsm);
  margin-bottom: var(--space-sm);
}

h4 {
  font-size: var(--fontSize-md);
  font-weight: 400;
  margin-bottom: var(--space-xsm);
}

h5 {
  font-size: var(--fontSize-sm);
  font-weight: 400;
}
