@import "reset";
@import "colors";
@import "sizes";

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--textColor-primary);
  background-color: var(--backgroundColor-primary);
}

button, a {
  cursor: pointer;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  background-color: inherit;
  color: inherit;
  border: none;
}
