:host {
  display: grid;
  grid-template-areas: "name picker" "preview picker";
}

.name {
  grid-area: name;
}

.preview {
  grid-area: preview;
  display: flex;
  flex-direction: column;

  .tag-preview {
    height: 30px;
  }
}

.picker {
  grid-area: picker;
}


