<lib-control-container
  [label]="'common.name' | libTranslate"
  class="name"
>
  <input
    type="text"
    libInput
    [formControl]="formDefinition.name"
  >
</lib-control-container>

<div class="picker">
  <span
    [cpToggle]="true"
    cpDialogDisplay="inline"
    cpAlphaChannel="disabled"
    [colorPicker]="formDefinition.colorHex.value"
    (colorPickerChange)="formDefinition.colorHex.setValue($event)"
  >
  </span>
</div>

<div class="preview">
  <label libLabel>
    {{'common.preview' | libTranslate}}
  </label>
  <lib-tag
    class="tag-preview"
    [style.background-color]="formDefinition.colorHex.value"
  >
    {{formDefinition.name.value}}
  </lib-tag>
</div>

<pre>{{rootForm.value | json}}</pre>
