<form [formGroup]="rootForm" (ngSubmit)="submit()">
  <lib-control-container label="Title">
    <input [formControl]="formDefinition.title" type="text" libInput>
  </lib-control-container>

  <form
    [formGroup]="autocompleteFormGroup"
    (ngSubmit)="addTag()"
  >
    <lib-control-container label="Tags">

      <lib2-autocomplete-input-form
        [allValues]="allTags"
        [ignoredValues]="formDefinition.tags.value"
        [formControl]="autocompleteInnerControl"
      ></lib2-autocomplete-input-form>

      <ol>
        <lib2-note-tag
          class="tag"
          *ngFor="let tag of formDefinition.tags.value; let index= index"
          [tag]="{
           id: tag,
           name: tag
        }"
          [removable]="true"
          (removed)="removeTag(tag)"
        ></lib2-note-tag>
      </ol>

    </lib-control-container>
  </form>

  <section class="content">
    <lib-label class="label">
      <span>Content</span>

      <button
        class="toggle"
        libIconButton
        [title]="contentExpanded? 'Less' : 'More'"
        (click)="toggleContentExpand()"
      >
        <mat-icon *ngIf="!contentExpanded">expand_more</mat-icon>
        <mat-icon *ngIf="contentExpanded">expand_less</mat-icon>
      </button>
    </lib-label>
    <lib-editor
      class="editor"
      [class.hidden]="!contentExpanded"
      [formControl]="formDefinition.content"
    ></lib-editor>

  </section>

  <footer>
    <button
      type="button"
      libIconButton
      [mat-menu-trigger-for]="optionsRef"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #optionsRef yPosition="above">
      <button mat-menu-item (click)="deleteNote()">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </mat-menu>

    <button mat-raised-button color="accent">
      Save
    </button>
  </footer>
</form>
