:host {
  display: block;
  margin: var(--space-xl);
  margin-bottom: 0;
}

.editor {
  height: 400px;

  &.hidden {
    display: none;
  }
}

section.content {
  .label {
    align-items: center;
  }

  button.toggle {
    margin-left: var(--space-sm);
  }
}

footer {
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  background-color: var(--backgroundColor-primary);
  padding: var(--space-sm);
}
