:host {
  display: block;
  width: 500px;
  max-width: 100%;
}

.editor {
  height: 400px;
}

footer {
  display: flex;
  justify-content: flex-end;
}

.workspaces-selector {
  background-color: var(--backgroundColor-tertiary);
}
