:host {
  display: block;
  height: 100%;
  background-color: var(--backgroundColor-secondary);
  width: 250px;

  border-right: 1px solid var(--backgroundColor-tertiary);
}

section.group {
  header {
    margin-top: var(--space-md);
    margin-bottom: var(--space-xsm);
    padding: 0 var(--space-sm);
    color: var(--textColor-secondary);
    line-height: 24px;

    display: flex;
    align-items: center;

    button.new {
      margin-left: var(--space-sm);
    }

    button.options {
      margin-left: auto;
    }

    button {
      width: 24px;
      height: 24px;
      min-height: 24px;
      min-width: 24px;

      .icon {
        height: 20px;
        width: 20px;
        font-size: 20px;
      }
    }
  }

  ul.list {
    font-size: var(--fontSize-md);
  }
}


ul.list {
  button.entity {
    width: 100%;
    height: 30px;
    padding-left: var(--space-md);
    padding-right: var(--space-sm);
    text-align: left;

    display: inline-flex;
    align-items: center;

    &:hover, &:focus, &:focus-within {
      background-color: var(--backgroundColor-tertiary);

      .notes-count {
        display: none;
      }

      .more-options {
        display: inline-flex;
      }
    }

    &.selected {
      background-color: var(--backgroundColor-tertiary);
    }

    .color-preview {
      width: 20px;
      min-width: 20px;
      height: 10px;

      margin-left: var(--space-sm);
    }

    .name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .notes-count {
      margin-left: auto;
      padding: 0 var(--space-sm);
    }

    button.more-options {
      margin-left: auto;

      width: 30px;
      height: 30px;
      min-height: 30px;
      min-width: 30px;
      display: none;
      align-items: center;
      justify-content: center;

      &:hover, &:focus {
        background-color: var(--backgroundColor-quaternary);
        color: var(--textColor-primary);
      }
    }
  }
}
