.list-item {
  font-size: 14px;
  height: 36px;
  padding: 0 20px;
  width: 100%;
  user-select: none;

  color: var(--textColor-secondary);

  display: flex;
  align-items: center;
  overflow: hidden;

  transition: var(--transition-basic);

  &:hover {
    background-color: var(--backgroundColor-secondary);

    .name {
      color: var(--textColor-primary);
    }
  }

  &.active-route {
    background-color: var(--backgroundColor-secondary);

    .icon,
    .counter {
      color: var(--textColor-accent);
    }

    .name {
      color: var(--textColor-primary);
    }
  }

  & > * {
    transition: var(--transition-basic);
  }

  .icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
  }

  .counter {
    margin-left: auto;
  }
}
