:host {
  display: block;
  height: 100%;
  padding-top: 30vh;
}

.panel {
  width: 500px;
  margin: auto;
  background-color: var(--backgroundColor-secondary);
  padding: 50px;

  .content {
    margin-bottom: var(--space-xl);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: var(--space-md);
  }
}
