<main class="panel">
  <form [formGroup]="rootForm" (ngSubmit)="submit()">

    <section class="content">

      <lib-control-container label="Email">
        <input
          libInput
          libAutofocus
          [formControl]="formDefinition.email"
        />
      </lib-control-container>

      <lib-control-container label="Password">
        <input
          libInput
          type="password"
          [formControl]="formDefinition.password"
        >
      </lib-control-container>

      <lib-error-message *ngIf="errorMessage">{{errorMessage}}</lib-error-message>

    </section>

    <footer>
      <a
        libLink
        [routerLink]="'register'"
      >
        Don't have account?
      </a>

      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="rootForm.invalid || (isLoading$ | async)"
      >
        Login
      </button>
    </footer>
  </form>

  <app-oauth-providers-login>

  </app-oauth-providers-login>

</main>
