<a
  class="wrapper"
  [routerLink]="[note.id]"
  routerLinkActive="active-route"
  [appContextMenuTriggerFor]="menu"
>
  <div class="content">
    <header>
      <h5 class="title">{{note.title || ('notes.title_placeholder' | translate)}}</h5>
      <mat-icon
        *ngIf="note.isStarred"
        color="accent"
        class="starred-icon"
      >star
      </mat-icon>
    </header>
    <p class="mid-content">
      {{note.updatedAt | date}}
    </p>

    <ul class="tags">
      <ng-container *ngIf="note.tags.length > 0; else noTags">
        <app-note-tag
          class="tag"
          *ngFor="let tag of note.tags"
          [tag]="tag"
        ></app-note-tag>
      </ng-container>

      <ng-template #noTags>
        <span class="no-tags">{{'tags.no_tags' | translate}}</span>
      </ng-template>
    </ul>

  </div>
</a>

<mat-menu #menu>
  <ng-container *ngFor="let noteOption of noteOptions; trackBy: trackBy">

    <ng-container *ngIf="noteOption.showWhen(note)">

      <mat-divider *ngIf="noteOption.dividerAbove"></mat-divider>
      <button
        mat-menu-item
        (click)="noteOption.action(note)"
      >
        <mat-icon [color]="noteOption.iconColor">{{noteOption.icon}}</mat-icon>
        {{noteOption.labelTK | translate}}
      </button>

    </ng-container>

  </ng-container>

</mat-menu>
