<a
  class="wrapper"
  [routerLink]="[note.id]"
  routerLinkActive="active-route"
  [appContextMenuTriggerFor]="menu"
>
  <div class="content">
    <header>
      <h5 class="title">{{note.title || ('notes.title_placeholder' | translate)}}</h5>
      <mat-icon
        *ngIf="note.isStarred"
        color="accent"
        class="starred-icon"
      >star
      </mat-icon>
    </header>
    <p class="mid-content">
      {{note.updatedAt | date}}
    </p>

    <ul class="tags">
      <ng-container *ngIf="note.tags.length > 0; else noTags">
        <app-note-tag
          class="tag"
          *ngFor="let tag of note.tags"
          [tag]="tag"
        ></app-note-tag>
      </ng-container>

      <ng-template #noTags>
        <span class="no-tags">{{'tags.no_tags' | translate}}</span>
      </ng-template>
    </ul>

  </div>
</a>

<mat-menu #menu>
  <button mat-menu-item>{{'common.duplicate' | translate}}</button>
  <button
    mat-menu-item
    *ngIf="!note.isDeleted && !note.isStarred"
    (click)="starNote()"
  >
    {{'common.star' | translate}}
  </button>
  <button
    mat-menu-item
    *ngIf="!note.isDeleted && note.isStarred"
    (click)="unstarNote()"
  >
    {{'common.unstar' | translate}}
  </button>
  <button
    mat-menu-item
    *ngIf="!note.isDeleted"
    (click)="deleteNote()"
  >
    {{'common.delete' | translate}}
  </button>

  <button
    mat-menu-item
    *ngIf="note.isDeleted"
    (click)="restoreNote()"
  >
    {{'common.restore' | translate}}
  </button>

  <button
    mat-menu-item
    *ngIf="note.isDeleted"
    (click)="deleteNotePermanently()"
  >
    {{'common.delete_permanently' | translate}}
  </button>


</mat-menu>
