<a
  class="wrapper"
  [routerLink]="[note.id]"
  routerLinkActive="active-route"
  [appContextMenuTriggerFor]="menu"
>
  <div class="content">
    <header>
      <h5 class="title">{{note.title || ('notes.title_placeholder' | translate)}}</h5>
      <mat-icon
        *ngIf="note.isStarred"
        color="accent"
        class="starred-icon"
      >star
      </mat-icon>
    </header>
    <p class="mid-content">
      {{note.updatedAt | date}}
    </p>

    <ul class="tags">
      <ng-container *ngIf="note.tags.length > 0; else noTags">
        <app-note-tag
          class="tag"
          *ngFor="let tag of note.tags"
          [tag]="tag"
        ></app-note-tag>
      </ng-container>

      <ng-template #noTags>
        <span class="no-tags">{{'tags.no_tags' | translate}}</span>
      </ng-template>
    </ul>

  </div>
</a>

<mat-menu #menu>
  <ng-container *ngIf="!note.isDeleted">
    <button
      mat-menu-item
      (click)="duplicateNote()"
    >
      <mat-icon>file_copy</mat-icon>
      {{'common.duplicate' | translate}}
    </button>
    <button
      mat-menu-item
      *ngIf="!note.isStarred"
      (click)="starNote()"
    >
      <mat-icon>star</mat-icon>
      {{'common.star' | translate}}
    </button>
    <button
      mat-menu-item
      *ngIf="note.isStarred"
      (click)="unstarNote()"
    >
      <mat-icon>star_border</mat-icon>
      {{'common.unstar' | translate}}
    </button>

    <mat-divider></mat-divider>

    <button
      mat-menu-item
      (click)="deleteNote()"
    >
      <mat-icon>delete</mat-icon>
      {{'common.delete' | translate}}
    </button>

  </ng-container>

  <ng-container
    *ngIf="note.isDeleted"
  >

    <button
      mat-menu-item
      (click)="restoreNote()"
    >
      <mat-icon>restore_from_trash</mat-icon>
      {{'common.restore' | translate}}
    </button>

    <mat-divider></mat-divider>

    <button
      mat-menu-item
      (click)="deleteNotePermanently()"
    >
      <mat-icon color="warn">delete_forever</mat-icon>
      {{'common.delete_permanently' | translate}}
    </button>

  </ng-container>

</mat-menu>
