:host {
  margin-bottom: var(--space-md);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.title-field {
  margin-right: auto;
  align-self: center;
  display: block;
  flex: 1;
}

.view-switcher {
  display: block;
  margin-left: var(--space-xl);
}

.note-actions {
  display: block;
  margin-left: var(--space-xl);
}
