:host {
  margin-bottom: var(--space-md);
  display: flex;
  justify-content: flex-end;
}

.title-field {
  margin-right: auto;
  width: 100%;
  align-self: center;

  display: block;
}

.view-switcher {
  margin-right: var(--space-xl);
}
