<app-general-pill
  icon="note"
  [name]="'common.all_notes' | libTranslate"
  [counter]="(notesStatsRefresherService.data$ | async)?.allCount"
  [href]="replaceNoteTypeInPathWith('all')"
  [isHrefActive]="(noteTypeRouteParam.value$ | async) === 'all'"
  [expansionStatus]="panelExpansionStatus"
></app-general-pill>

<app-general-pill
  icon="star"
  [name]="'common.starred' | libTranslate"
  [counter]="(notesStatsRefresherService.data$ | async)?.starredCount"
  [href]="replaceNoteTypeInPathWith('starred')"
  [isHrefActive]="(noteTypeRouteParam.value$ | async) === 'starred'"
  [expansionStatus]="panelExpansionStatus"
></app-general-pill>

<app-general-pill
  icon="delete"
  [name]="'common.trash' | libTranslate"
  [counter]="(notesStatsRefresherService.data$ | async)?.deletedCount"
  [href]="replaceNoteTypeInPathWith('trash')"
  [isHrefActive]="(noteTypeRouteParam.value$ | async) === 'trash'"
  [expansionStatus]="panelExpansionStatus"
></app-general-pill>


<section class="tags">

  <h5
    class="header"
    [class.hidden]="panelExpansionStatus === PanelExpansionStatus.HIDDEN"
  >{{'common.tags' | libTranslate}}</h5>

  <div class="tags-container">
    <ng-container *ngFor="let tag of tagsRefresherService.data$ | async; trackBy: trackByTag">
      <app-general-pill
        icon="tag"
        [name]="tag.name"
        [counter]="tag.notesCount"
        [boostMatContextMenuTriggerFor]="contextMenu.matMenu"
        [expansionStatus]="panelExpansionStatus"
      ></app-general-pill>

      <lib-context-menu
        #contextMenu
        [options]="tagOptions"
        [item]="tag"
      ></lib-context-menu>

    </ng-container>
  </div>

</section>

<footer class="options">
  <app-general-pill
    [icon]="panelExpansionStatus === PanelExpansionStatus.VISIBLE ? 'chevron_left' : 'chevron_right'"
    [name]="(panelExpansionStatus === PanelExpansionStatus.VISIBLE ? 'common.hide' : 'common.show') | libTranslate"
    [expansionStatus]="panelExpansionStatus"
    (action)="togglePanel()"
  ></app-general-pill>
</footer>
