:host {
  display: block;
  height: 100%;
}

.panel {
  margin: auto;
  background-color: var(--backgroundColor-secondary);
  padding: 50px;

  .content {
    margin-bottom: var(--space-xl);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
