@import "assets/styles/reset";

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}


body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--textColor-primary);
  background-color: var(--backgroundColor-primary);
}

:root {
  --textColor-primary: #f8f8f2;
  --textColor-secondary: #939395;

  --backgroundColor-primary: #272822;
  --backgroundColor-secondary: #373831;
}
