@import "assets/styles/reset";
@import "assets/styles/tui-editor";

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

* {
  box-sizing: border-box;
}


body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--textColor-primary);
  background-color: var(--backgroundColor-primary);
}

button, a {
  cursor: pointer;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  background-color: inherit;
  color: inherit;
  border: none;
}

input {
  background-color: var(--backgroundColor-tertiary);
  border: none;
  color: var(--textColor-primary);
  font-size: 15px;
  line-height: 24px;
  padding: 0 10px;

  &::placeholder {
    color: var(--textColor-secondary);
  }
}

:root {
  --textColor-primary: #f8f8f2;
  --textColor-secondary: #939395;

  --backgroundColor-primary: #272822;
  --backgroundColor-secondary: #373831;
  --backgroundColor-tertiary: #4a4b44;

  --textColor-accent: #1ec38b;


  --transition-basic: all 0.1s linear;
}
