@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/monokai.css';
@import '~tui-editor/dist/tui-editor.css';
@import '~tui-editor/dist/tui-editor-contents.css';

.tui-tooltip {
  background-color: var(--backgroundColor-tertiary);
  color: var(--textColor-primary);
}

.CodeMirror {
  background-color: unset;
}
