<mat-form-field>
  <input
    matInput
    placeholder="Title"
    [formControl]="formDefinition.title"
  >
</mat-form-field>

<!--<app-editor-->
<!--  class="editor"-->
<!--  [isEditor]="true"-->
<!--  placeholder="What's in your mind?"-->
<!--  [formControl]="formDefinition.content"-->
<!--&gt;-->

<!--</app-editor>-->

<mat-form-field>
  <textarea
    matInput
    placeholder="What's in your mind?"
    [formControl]="formDefinition.content"
    [rows]="8"
  >

  </textarea>
</mat-form-field>

<app-tags-autocomplete [formControl]="formDefinition.tags"
                       [allTags]="tagNames"
></app-tags-autocomplete>
